# Maven / Build
/target/
*.jar
*.war
*.ear
*.zip

# IDEs
.idea/
*.iml
# Eclipse (por si acaso)
.project
.classpath
.settings/
# VS Code
.vscode/
# IntelliJ output
/out/

# SO / temporales
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.log
logs/
*.tmp
*.swp
*.swo

# Entorno / secretos
.env
.env.*
# Perfiles locales de Spring (ajusta a lo que uses)
**/application-local.properties
**/application-local.yml

# Reportes de pruebas y análisis
/target/surefire-reports/
/target/failsafe-reports/
/target/jacoco.exec
/target/site/jacoco/
.scannerwork/

# DB embebidas
*.mv.db
*.trace.db
*.db

# Documentación generada automáticamente
src/JavaDoc/
